{% load i18n %}

{% autoescape off %}
{% blocktrans %}Bu emaili {{ site_name }} saytında olan hesabınızın parolunu dəyişmək istəyi göndərdiyiniz üçün almısınız..{% endblocktrans %}

{% trans "Xahiş olunur aşağıdakı ünvana daxil olub yeni şifrə təyin edəsiniz:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'account:forget-reset-confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Xatırlatma üçün bildirək ki, göstərilən emaildən istifadə etməlisiniz:" %} {{ user.get_username }}

{% trans "Saytımızdan istifadə etdiyiniz üçün təşəkkür edirik." %}

{% blocktrans %}{{ site_name }} komandası{% endblocktrans %}

{% endautoescape %}