{% extends 'base/index.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% block content %}
    <div class="auth py-5">
        <div class="container">
            <div class="row justify-content-center flex-column align-items-center">
                <h2 class="text-center">{% trans 'Şifrənin Bərpası' %}</h2>

                <div class="col-lg-6 my-5">
                    <div class="alert alert-success text-center">
                        <p>{% trans 'Bərpa ilə bağlı mail, göstərilən mail ünvanına göndərildi.' %}</p>
                        <p>{% trans 'Xahiş olunur mailinizi yoxlayasınız.' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}